name: Website

on:
  push:
    branches: ['develop']
  release:
    types:
      - published

jobs:
  publish:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v2
      - uses: olafurpg/setup-scala@v13
      - run: sbt ++2.13.6 docs/docusaurusPublishGhpages
        env:
          GIT_DEPLOY_KEY: ${{ secrets.GIT_DEPLOY_KEY }}
